<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>

<body>

    <h1>Inicio</h1>
    <a href="/contar/Windsurf">Contar vocales y consonantes</a><br />
    <a href="/Ventana">Eliminar vocales</a><br />
    <a href="/listar">Listar Mascotas</a><br />
    <a href="/formulario">Añadir Mascota</a><br />
    <a href="/traduce/Hola">Traductor</a><br />

    <p>En las opciones de contar y eliminar vocales y en el traductor puedes cambiar la palabra con la que trabajan desde la barra de direcciones</p>

</body>

</html>