<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Inicio</title>
</head>

<body>
    <header>
        <div class="navbar navbar-dark bg-secondary shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <img src="../static/engranajes.svg" alt="engranajes">
                    <strong>SpringBoot</strong>
                </a>
            </div>
        </div>
    </header>
    <main role="main">
        <section class="cabecera text-center">
            <div class="container">
                <h1>Ejercicio SpringBoot</h1>
                <p class="lead text-muted">Desde este menú podrás acceder a todas las funcionalidades de esta
                    aplicación.</p>
                <p>
                </p>
            </div>
        </section>

        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <p class="card-text">Esta opcion cuenta las vocales y consonantes de la palabra o frase que
                                pongas después de ../contar/ en la url.</p>
                            <a class="btn btn-info" href="/contar/Windsurf">Cuenta</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <p class="card-text">Desde aquí puedes acceder a un formulario para guardar a tu mascota en
                                nuestra base de datos.
                            </p>
                            <a class="btn btn-info" href="/formulario">Guardar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <p class="card-text">Haciendo click en el botón podrás consultar todas las mascotas que
                                figuran en nuestra base de datos.
                            </p>
                            <a class="btn btn-info" href="/listar">Ver Mascotas</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <p class="card-text">Esta opción sirve para eliminar las vocales de lo que
                                escribas despues de ../
                            </p>
                            <a class="btn btn-info" href="/Palabra">Eliminar vocales</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <p class="card-text">Esta funcionalidad traduce la palabra o frase que escribas
                                después de ../traduce/
                            </p>
                            <a class="btn btn-info" href="/traduce/Hola">Traduce</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>